<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Review App</title>
    <link rel="stylesheet" href="../css/editNote.css">
    <script defer type="module" src="../js/editNote.js"></script>
</head>
<body>
    <div class="app-container">
        <div class="top-bar">
            <button id="backBtn"><img src="../storage/img/chevron_left.png" alt=""></button>
        </div>
        <div class="content">
            <h1 contenteditable="true"></h1>
            <div class="description" contenteditable="true">
                
            </div>
        </div>
    </div>

    <div id="modal" class="modal">
        <div class="modal-content">
            <p>Do you want to save your changes?</p>
            <div class="modal-buttons">
                <button class="discard">Discard</button>
                <button class="save">Save</button>
            </div>
        </div>
    </div>
</body>
</html>