<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth Layout</title>
    <link rel="stylesheet" href="../css/openning.css">
    <script defer type="module" src="../js/openning.js"></script>
</head>
<body>
    <div class="container">
        <div class="content">
            <img src="../storage/img/logo.png" alt="Logo" class="logo">
            <button class="button login-btn">Log in</button>
            <button class="button signup-btn">Sign Up</button>
        </div>
    </div>
</body>
</html>